* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* font-family: "ABeeZee", sans-serif; */
}

p,
h1 {
  color: #424b54;
}

a {
  text-decoration: none;
}

input::-webkit-input-placeholder {
  color: #a9b3bc;
}

input,
textarea {
  caret-color: #424b54;
  color: #424b54;
}

.container {
  width: 100%;
  height: 100vh;
}

/* Navbar */

.navbar {
  background-color: #424b54;
  padding: 13px 0px;
  height: 50px;
  align-items: center;
  position: relative;
}

/* .navbar img {
  margin-left: 25px;
} */

.navbar h1 {
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  margin-left: 22px;
  letter-spacing: 2px;
  user-select: none;
}

.navbar h2 {
  color: #fff;
  font-size: 17px;
  text-transform: capitalize;
  letter-spacing: 2px;
  position: absolute;
  right: 30px;
}

.navbar h2:hover{
  text-decoration: underline;
}

/* Welcome Page */
.welcome-container {
  background: #f4f5f6;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  text-align: center;
  border: #424b54 solid;
  max-width: 600px;
  max-height: 600px;
  overflow: hidden;
}

.welcome-container h2 {
  margin-top: 95px !important;
}

.login-btn {
  margin: 75px auto 0px;
  display: block;
  border: none;
  background: #85c7f2;
  color: #ffffff;
  font-size: 30px;
  width: 350px;
  height: 70px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s;
}

.login-btn:hover {
  background: #47aaeb;
  transition: 0.2s;
}

.register-btn {
  margin: 30px auto 0px;
  display: block;
  background: #f4f5f6;
  border: #424b54 1px solid;
  color: #424b54;
  font-size: 30px;
  width: 350px;
  height: 70px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s;
}

.register-btn:hover {
  background: #47aaeb;
  transition: 0.2s;
  color: #f4f5f6;
  border: none;
}

/* Main Content */
.main-content {
  height: 100%;
  background-color: #e2e6e9;
}

/* Left Sidebar */
.left-sidebar-container {
  width: 100%;
  height: 100%;
  border-right: #424b546b 1px solid;
  flex: 1;
  position: relative;
}

.left-sidebar-content {
  height: 100%;
  justify-content: center;
  padding: 0px 15px;
  position: relative;
}

.left-sidebar-content .conversation {
  align-items: center;
  height: 70px;
  padding: 0px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.left-sidebar-content input[type="radio"]:checked + label div {
  background: #cadeeb;
  transition: 0.2s;
}

.left-sidebar-content
  input[type="radio"]
  + label
  div:hover:not(.left-sidebar-content input[type="radio"]:checked + label div) {
  background: #424b540a;
}

.left-sidebar-content img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 50%;
}

.left-sidebar-content span {
  line-height: 18px;
}

.left-sidebar-content h1 {
  font-size: 16px;
}

.left-sidebar-content p {
  font-size: 12px;
  color: #92989f;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  overflow: hidden;
  width: 200px;
}

.chat-window-header
{
  height: 85px;
  border-bottom: #424b546b 1px solid;
  text-align: center;
}

.searchBar-container {
  border: none;
  padding: 0px 15px;
  position: relative;
}

.searchBar-container input {
  width: 100%;
  height: 40px;
  color: #424b54;
  border-radius: 25px;
  border: none;
  padding: 15px 35px;
  font-size: 15px;
  background-color: #f4f5f6;
  margin: 23px auto;
}

.searchBar-container input:focus {
  outline: none;
  padding-left: 17px;
  /* border-radius: 25px 25px 0 0; */
}

.searchBar-container input:focus + img {
  display: none;
}

.searchBar-container img {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 36px;
  left: 30px;
}

.search-results-container {
  width: calc(100% - 30px);
  position: absolute;
  z-index: 1;
  top: 63px;
  left: 15px;
  background: #f4f5f6;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  padding: 0 10px 5px 10px;
  /* display: none; */
}


.search-results-container div {
  padding: 15px 10px;
  cursor: pointer;
  border-radius: 10px;
}

.search-results-container div:hover {
  background: #424b540a;
}

.search-results-card{
  width: 100%;
  align-items: center;
}

.search-results-card img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.search-results-card p {
  font-size: 15px;
  margin-left: 10px;
}

/* Chat UI */
.chat-container {
  flex: 4;
  text-align: center;
}

.chat-window-header {
  align-items: center;
  padding-left: 25px;
}

.chat-window-header div {
  margin-left: 10px;
  text-align: left;
  line-height: 1.25;
}

.chat-window-header img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.chat-window-header .user {
  font-size: 16px;
  font-weight: bold;
  color: #424b54;
}

.chat-window-header .status {
  font-size: 12px;
  font-weight: bold;
  color: #b5bbbf;
}

.chat-content {
  box-shadow: inset 0px 0px 7px #424b5475;
  padding: 0px 10px;
  justify-content: flex-end;
  position: relative;
  overflow-y: auto;
}

.chat-content div div:last-child p{
  margin-bottom: 10px;
}

.chat-content div div:first-child p{
  margin-top: 10px;
}

.msg-container {
  align-self: flex-start;
  max-width: 55%;
  text-align: left;
  margin: 1px 0px;
}

.msg-container p {
  padding: 9px 12px;
  background: #f4f5f6;
  border-radius: 20px;
  color: #424b54;
  word-break: break-word;
}

.own {
  align-self: flex-end;
}

.own p {
  background: #47aaeb;
  color: #f4f5f6;
}

.chat-content h1{
  top: 50%;
  position: absolute;
  width: 100%;
  left: 0;
  color:#47aaeb;
  font-size: 16px;
  cursor: pointer;
}

.chat-content h1:hover{
  text-decoration: underline;
}

.chat-box form {
  align-items: center;
  flex: 1;
  margin: 10px 10px 10px 40px;
}

.chat-box textarea {
  max-height: 125px;
  width: 100%;
  border: 8px solid #f4f5f6;
  height: 36px;
  font-size: 15px;
  resize: none;
  outline: none;
  padding: 0px 4px;
  background: transparent;
}

.chat-box-input-container {
  border-radius: 25px;
  overflow: hidden;
  padding: 0px 5px;
  background: #f4f5f6;
}

.chat-box button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../public/img/send-button.png");
  background-repeat: no-repeat;
  padding: 18px;
  background-position: center;
  background-position-x: 10px;
  border-radius: 50%;
}

.chat-box button:hover {
  /* background-color: rgba(255, 255, 255, 0.356); */
  background-color: #f4f5f6;
}

/* Right Sidebar */
.right-sidebar-container {
  width: 100%;
  height: 100%;
  flex: 1;
  border-left: #424b546b 1px solid;
}

.right-sidebar-header {
  border-bottom: none;
}

.right-sidebar-content {
  text-align: center;
  margin-top: 23px;
}

.right-sidebar-content img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.right-sidebar-content .user {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 2px;
}

.right-sidebar-content .user-joined {
  font-size: 12px;
}

/* Login */

.login-container {
  margin: 0px auto;
  text-align: center;
  border: #424b54 solid;
  max-width: 600px;
  max-height: 600px;
  overflow: hidden;
  position: relative;
  background-color: #f4f5f6;
}

.welcome-container h1,
.login-container h1 {
  background-color: #85c7f2;
  color: #f4f5f6;
  border-bottom: #424b54 solid 2px;
  height: 66px;
  padding: 12px 0px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.login-container h2,
.welcome-container h2,
.create-container h2 {
  color: #424b54;
  font-size: 32px;
  text-transform: uppercase;
  margin-top: 50px;
  letter-spacing: 1px;
}

.login-container input {
  display: block;
  border: #424b54 2px solid;
  width: 350px;
  height: 70px;
  border-radius: 25px;
  padding: 30px 20px;
  font-size: 25px;
}

.login-container form {
  margin: 0px 125px;
  padding: 55px 0px 176px;
}

.login-container .flex {
  align-items: center;
  justify-content: space-between;
}

.login-container button {
  border: none;
  background-color: transparent;
  font-weight: bold;
  color: #424b54;
  font-size: 20px;
  cursor: pointer;
}

.login-container .back-btn {
  position: absolute;
  bottom: 15px;
  left: 25px;
}

/* Create Account */
.create-container button {
  float: right;
}

/* Utils */
.flex {
  display: flex;
}

.flex-0{
  flex: 0;
}

.flex-1 {
  flex: 1;
}

.flex-v {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
  height: 100vh;
}

.full-height{
  height: 100%;
}

/* .skeleton{} */
